/* Common style: description of main elements style*/
body    { width: 100%; margin: 0 auto; overflow: auto; background-color: #fdef4d;  }
aside   { background-color: #f7f8f8; width: 38%; margin: 5px; padding: 5px; border-radius: 10px; }
header	{ height: 40px; background: #2e2e2e; width: 100%; position: fixed; display: inline; z-index: 1; top: 0; }
section { background-color: #fdfdfd; width: 56%; margin: 5px; padding: 5px; border-radius: 10px; transform: translate(340px,-335px);}

.main   { position: relative; width: 60%; top: 40px; margin: 0 auto; }